.achievement-page{
    position: relative;
    padding: 20px 10px;
    font-size: 1.2rem;
}

.achievement-header{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
}

.achievement-header-tip{
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px rgb(1 237 255);
    font-weight: 600;
}

.achievement-header-title{
    font-size: 1.2rem;
}


.achievement-header-image{
    width: 35vw;
    padding: 20px 0;
}

.achievement-header-count{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 10px 0 20px 0;
}

.achievement-header-reach-count{
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
}

.achievement-header-split{
    font-size: 3rem;
    line-height: 3rem;
    padding: 0 10px;
}
.achievement-header-total-count{
    font-size: 1.2rem;
    /* line-height:  1.2rem; */
}

.achievement-content{ 
    margin-top: 30px;
}
.achievement-c-line{
    border: 1px solid rgb(189 184 184 / 45%);
    box-shadow: 0px 0px 2px 1px rgb(189 184 184 / 45%);
}

.achievement-c-title{
    line-height: 4rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
}
   

.achievement-c-list{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    /* justify-content: space-between; */
}
.achievement-c{
    width: 33%;
    margin-bottom: 20px;
}

@media only screen and (min-width: 500px) {
    .achievement-c{
        width: 200px;
    }
}
.achievement-c-image{
   padding: 0 20px;
   width: 100%;
}
